@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}

#slides-container {
	width: 10000px;
	height: 360px;
	position: relative;
	font-family: "Roboto";
}
.slide {
	background: #fff;
	position: relative;
	float:left;
	text-align: center;
	width: 640px;
	height: 360px;
	overflow: hidden;
}

.centered-text {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.slide .text {
	position: absolute;
}
.slide .text p {margin:10px;}

/*Individual Slide Styles*/
#slide-congrats {
	background:url("img/congrats-bg.jpg");
	color:#fff
}

#slide-congrats div.thingy {
	margin-top:5%;
	font-size:32px;
}

#slide-target .foreground {
	margin-top:23%;
	text-align: center;
	font-size:24px;
}

#slide-target .background {
	opacity: 0;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -2;
	margin-top:23%;
	text-align: center;
	font-size:24px;
	color: purple;
}

#slide-target .foreground p {margin:0; color:#fff;}


#slide-target .chart {
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: none;
    border-radius: 50%;
    display: block;
    margin-left:140px;
}
#slide-target .chart .pie {
	fill: none;
	stroke: #AC29B5;
	stroke-width: 360;
	stroke-dasharray: 0 1130;
}

#slide-target .text {
	color:#fff;
	font-size:36px;
}

#slide-supporters {
	background:#AC29B5;
	color:#fff;
}

#slide-supporters h1 {
    margin-top: 18%;
    font-size: 105px;
}

.profile-image-holder {
	position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 45%;
}
.profile-image-holder img { 
	max-height: 90%; 
	max-width: 90%;
	transform: rotate(-5deg);
    box-shadow: 20px 20px 20px rgba(32,32,32,0.4);
    border:10px solid #fff;
    
}



